*{
	margin: 0;
	padding: 0;
	font-family: roboto; 
}
.imgBg{
	height: 120vh;
	background-image:url("./min.jpg");
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
}
.nav-bar{
	display: flex;
	padding: 20px 60px;
}
.nav-logo{
	padding: 4px 8px;
	background: #126180;
	border-radius: none;
	color: #fff;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	transition: 0.5s;
}
.nav-links{
	flex: 1;
}
.nav-links ul{
	margin-left: 50px;
	display: inline;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 25px;
}
.nav-links ul li a{
	color: #126180;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	font-family: sans-serif;
}
.nav-links ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: #f5c71a;
	display: block;
	margin: auto;
	transition: 0.5s; 
}
.nav-links ul li:hover::after{
	width: 100%;
}
.btn{
	margin: 2px 0px;
	padding: 10px 20px;
	background-color: #126180;
	font-weight: bold;
	color: white;
	font-family: sans-serif;
	border: 0;
	cursor: pointer;
	outline: none;
	font-size: 14px;
}
.banner-title{
	margin: 150px 60px;
	color: #126180;

}
.banner-title h1{
	font-size: 50px;
	margin-bottom: 30px;
	line-height: 60px;
	font-family: sans-serif;
}
.banner-title h3{
	font-size: 30px;
	font-family: cursive;
}
.banner-title h1 span{
	color: #f5c71a;
	font-family: sans-serif;
}
h2{
	color: #126180;
	text-align: center;
	font-family: cursive;
	font-size: 30px;
}
h2 span{
	color: #f5c71a;
	font-size: 40px;
	font-weight: normal;
}